[submodule "tests/data/resume"]
	path = tests/mock_repos/resume
	url = https://github.com/michaelairola/resume.git
[submodule "tests/data/blog"]
	path = tests/mock_repos/blog
	url = https://github.com/michaelairola/blog.git
