[submodule "tests/data/resume"]
	path = tests/data/resume
	url = https://github.com/michaelairola/resume.git
[submodule "tests/data/blog"]
	path = tests/data/blog
	url = https://github.com/michaelairola/blog.git
